<h2>Art by Meezy</h2>
<div class="follow-badge">
  <a href="https://www.instagram.com/artbymeezy/" target="_blank">
  follow on <fa-icon [icon]="['fab', 'instagram']" [style.color]="'#C32AA3'"></fa-icon>
</a>
</div>
<div class="gallery-wrapper">
  <button mat-icon-button (click)="scrollGallery(false)"><mat-icon>arrow_back_ios</mat-icon></button>
  <div id="gallery">
    <div *ngFor="let art of arts" class="art" (click)="openArtDialog(art)">
      <img [src]="'/assets/images/art/' + art + '.jpg'" />
    </div>
  </div>
  <button mat-icon-button (click)="scrollGallery(true)"><mat-icon>arrow_forward_ios</mat-icon></button>
</div>
