@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    border-color: #333333;
  }
  10% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    border-color: #993333;
  }
  17% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    border-color: #333333;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    border-color: #993333;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    border-color: #333333;
  }
  10% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    border-color: #993333;
  }
  17% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    border-color: #333333;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    border-color: #993333;
  }
}
