.projects {
  display: flex;
  flex-flow: row wrap;
  margin-top: 32px;
  .project {
    font-size: 18px;
    flex: 1 0 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-width: 200px;
    min-height: 200px;
    background-color: black;
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
    h2 {
      margin: 0;
    }
    &:hover {
      opacity: 1;
    }
    .actions {
      margin: 16px;
      text-align: center;
      button {
        background-color: rgba(255,255,255,0.7);
        font-weight: 600;
        font-size: 18px;
        border-radius: 24px;
      }
    }
  }
}
