<div class="page">
  <div class="header">
    <img src="../assets/images/rameez.jpg" class="profile-image" />
    <h1>Rameez M Virji</h1>
    <div class="social-icons">
      <button mat-icon-button *ngFor="let icon of socialIcons" (click)="openLink(icon.url)" [matTooltip]="icon.tooltip">
        <fa-icon [icon]="['fab', icon.faIcon]" [style.color]="icon.color"></fa-icon>
      </button>
      <button mat-icon-button (click)="openLink('mailto:rameez@bigtreeworld.com')" matTooltip="rameez@bigtreeworld.com">
        <fa-icon [icon]="['fas', 'envelope-square']" style="color: #DB4437"></fa-icon>
      </button>
    </div>
    <last-fm-scrobbles username="bigtreeworld" [apiKey]="lastFmApiKey"></last-fm-scrobbles>
  </div>
  <app-projects></app-projects>
  <div class="footer">
    &copy; Copyright 2012-2023 Rameez Virji. All rights reserved. Every single one.
  </div>
</div>
