@import './webfonts.scss';

.page {
  font-family: 'Product Sans', 'Montserrat', 'Verdana', 'Arial', sans-serif;
  background-color: #000000;
  color: #eeeeee;
  margin: 8px 16px;

  .header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    app-last-fm {
      display: flex;
      max-width: 560px;
      min-width: 400px;
      width: 100%;
    }
    img.profile-image {
      width: 160px;
      height: 160px;
      border-radius: 160px;
      border: 5px solid #333333;
      margin: 16px 0 0 0;
    }
    .social-icons {
      display: flex;
      margin: 0 0 32px;
      button {
        font-size: 24px;
        height: 48px;
        width: 48px;
        fa-icon {
          filter: grayscale(100%) brightness(100);
        }
        &:hover {
          fa-icon {
            filter: brightness(1);
          }
        }
      }
    }
  }

  .footer {
    text-align: center;
    padding: 24px;
    color: #666666;
  }
}
