@import './webfonts';
@import './animations';

.page {
  font-family: 'Product Sans', 'Montserrat', 'Verdana', 'Arial', sans-serif;
  background-color: #000000;
  color: #eeeeee;
  margin: 8px 16px;

  .header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    h1 {
      cursor: default;
      &:hover {
        animation: bounce 1s both;
      }
    }
    .profile-image {
      position: relative;
      background: linear-gradient(to bottom, rgba(214,46,46,1) 0%, rgba(195,102,255,1) 40%, rgba(0,179,255,1) 80%, rgba(0,255,130,1) 100%);
      border-radius: 160px;
      width: 166px;
      height: 166px;
      margin: 16px 0 0 0;
      img {
        width: 160px;
        height: 160px;
        border-radius: 160px;
        border: 0px solid #333333;
        margin: 3px;
      }
    }
    .social-icons {
      display: flex;
      margin: 0 0 32px;
      button {
        font-size: 24px;
        height: 48px;
        width: 48px;
        fa-icon {
          filter: grayscale(100%) brightness(100);
        }
        &:hover {
          fa-icon {
            filter: brightness(1);
          }
        }
      }
    }
  }

  .footer {
    text-align: center;
    padding: 24px;
    color: #666666;
  }
}
