@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #000000;
  color: #eeeeee;
}

.dark-panel {
  mat-dialog-container {
    background-color: #000000;
  }
}

