@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #000000;
  color: #eeeeee;
  color-scheme: dark;
}

.dark-panel {
  mat-dialog-container {
    background-color: #000000;
    .mat-mdc-dialog-surface {
      background-color: #000000;
    }
  }
}

.dark-panel-translucent {
  mat-dialog-container {
    .mat-mdc-dialog-surface {
      background-color: rgba(0,0,0,0.85);
      border-radius: 16px;
    }
  }
}

