<last-fm-scrobbles username="bigtreeworld" [apiKey]="lastFmApiKey"></last-fm-scrobbles>

<div class="playlists">
  <div *ngFor="let playlist of playlists" class="playlist">
    <img [src]="'/assets/images/playlist-covers/' + playlist.image" class="playlist-image" [alt]="playlist.name" />
    <div class="info">
      <b>{{playlist.name}}</b>
      <div>{{playlist.description}}</div>
    </div>
    <div class="links">
      <ng-container *ngFor="let link of playlist.links">
      <ng-container [ngSwitch]="link.source">
        <a [href]="link.url" target="_blank" *ngSwitchCase="sourceEnum.SPOTIFY" >
          <fa-icon [icon]="['fab', 'spotify']" [style.color]="'#1DB954'"></fa-icon>
        </a>
        <a [href]="link.url" target="_blank" *ngSwitchCase="sourceEnum.YOUTUBE" >
          <fa-icon [icon]="['fab', 'youtube-square']" [style.color]="'#FF0000'"></fa-icon>
        </a>
      </ng-container>
      </ng-container>
    </div>
  </div>
</div>
