last-fm-scrobbles {
  overflow-y: hidden;
}

.playlists {
  display: flex;
  flex-flow: row nowrap;
  overflow-y: hidden;
  height: 100%;
  max-height: 500px;
  transition: height 0.2s, max-height 0.2s;
  .playlist {
    width: 100px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 4px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 8px;
    margin: 4px;
    img.playlist-image {
      max-width: 100px;
      border-radius: 8px;
    }
    .info {
      font-size: 12px;
      margin-bottom: 4px;
      flex-grow: 1;
      padding: 4px;
      div {
        font-size: 10px;
        padding: 4px;
      }
    }
    .links {
      background-color: #000000;
      border-radius: 8px;
      font-size: 22px;
      a {
        margin: 0 4px;
      }
    }
  }
  &.collapsed {
    height: 0;
    max-height: 0;
  }
}

.playlist-section {
  font-family: 'Product Sans', 'Montserrat', 'Verdana', 'Arial', sans-serif;
  width: 100%;
  text-align: center;
  button.playlist-expand-collapse {
    font-family: 'Product Sans', 'Montserrat', 'Verdana', 'Arial', sans-serif;
    font-weight: bold;
    letter-spacing: normal;
    color: #eee;
    border-radius: 30px;
    height: 30px;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
