last-fm-scrobbles {
  overflow-y: hidden;
}

.playlist {
  width: 100px;
  text-align: center;
  padding: 4px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 8px;
  img.playlist-image {
    max-width: 100px;
    border-radius: 8px;
  }
  .info {
    font-size: 14px;
    margin-bottom: 8px;
    div {
      font-size: 10px;
      padding: 4px;
    }
  }
  .link {
    font-size: 22px;
  }
}
