<last-fm-scrobbles username="bigtreeworld" [apiKey]="lastFmApiKey"></last-fm-scrobbles>

<div>
  <div *ngFor="let playlist of playlists" class="playlist">
    <img [src]="'/assets/images/playlist-covers/' + playlist.image" class="playlist-image" [alt]="playlist.name" />
    <ng-container *ngFor="let link of playlist.links">
      <div [ngSwitch]="link.source" class="link">
        <a [href]="link.url" target="_blank">
          <fa-icon *ngSwitchCase="sourceEnum.SPOTIFY" [icon]="['fab', 'spotify']" [style.color]="'#1DB954'"></fa-icon>
        </a>
      </div>
    </ng-container>
  </div>
</div>
